.forecast-data1 {
    margin: 10px;
    padding: 10px;
}

.forecast-data2 {
    margin: 10px;
    padding: 10px;
}

.forecast-data3 {
    margin: 10px;
    padding: 10px;
}

.forecast-data4 {
    margin: 10px;
    padding: 10px;
}

.forecast-data5 {
    margin: 10px;
    padding: 10px;
}